@mixin calculate-tiled-card-prop(
    $property,
    $numCards,
    $cardMeasurement,
    $additionalOffset: 1.62rem
) {
    #{$property}: calc(
        $numCards * (var(--throneteki-card-#{$cardMeasurement}) + 0.375rem) + $additionalOffset
    );

    &.small {
        #{$property}: calc(
            $numCards * (var(--throneteki-card-sm-#{$cardMeasurement}) + 0.375rem) +
                $additionalOffset
        );
    }

    &.normal {
        #{$property}: calc(
            $numCards * (var(--throneteki-card-#{$cardMeasurement}) + 0.375rem) + $additionalOffset
        );
    }

    &.large {
        #{$property}: calc(
            $numCards * (var(--throneteki-card-lg-#{$cardMeasurement}) + 0.375rem) +
                $additionalOffset
        );
    }

    &.x-large {
        #{$property}: calc(
            $numCards * (var(--throneteki-card-xl-#{$cardMeasurement}) + 0.375rem) +
                $additionalOffset
        );
    }
}

@mixin generate-card-dupes($n, $i: 1) {
    @if $i <= $n {
        .card-dupe-#{$i} {
            z-index: calc(var(--layer-cards) - #{$i});
            top: calc(-1 * (#{$i} - 1) * var(--attachment-offset));

            &.large {
                top: calc(-1 * (#{$i} - 1) * var(--attachment-offset-lg));
            }

            &.x-large {
                top: calc(-1 * (#{$i} - 1) * var(--attachment-offset-xl));
            }
        }
        @include generate-card-dupes($n, $i + 1);
    }
}

@mixin generate-attachments($n, $i: 1) {
    @if $i <= $n {
        .attachment-#{$i} {
            z-index: calc(var(--layer-cards) - #{$i});
        }
        @include generate-attachments($n, $i + 1);
    }
}
