.decklist-card-zoom {
    width: calc(var(--throneteki-card-width) * 3);
}

.icon {
    font-family: thronesdb;
}

.icon-power:before {
    content: '\e607';
}

.icon-plot:before {
    content: '\e60c';
}

.icon-location:before {
    content: '\e60e';
}

.icon-character:before {
    content: '\e60f';
}

.icon-event:before {
    content: '\e610';
}

.icon-agenda:before {
    content: '\e611';
}

.icon-attachment:before {
    content: '\e60d';
}

.icon-baratheon:before {
    content: '\e600';
}

.icon-greyjoy:before {
    content: '\e601';
}

.icon-lannister:before {
    content: '\e603';
}

.icon-martell:before {
    content: '\e604';
}

.icon-thenightswatch:before {
    content: '\e606';
}

.icon-stark:before {
    content: '\e608';
}

.icon-targaryen:before {
    content: '\e609';
}

.icon-tyrell:before {
    content: '\e60a';
}

.icon-neutral:before {
    content: '\e612';
}
