.card-wrapper {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

.card-frame {
  position: relative;
}

.card {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0,0,0,0.4), inset 0 0 0 1px rgba(255,255,255,0.1);
  overflow: hidden;
  z-index: @layer-cards;

  &.small {
    &.vertical {
      height: @card-sm-height;
      width: @card-sm-width;
    }

    &.horizontal {
      height: @card-sm-width;
      width: @card-sm-height;
    }
  }

  &.large {
    &.vertical {
      height: @card-lg-height;
      width: @card-lg-width;
    }

    &.horizontal {
      height: @card-lg-width;
      width: @card-lg-height;
    }
  }

  &.x-large {
    &.vertical {
      height: @card-xl-height;
      width: @card-xl-width;
    }

    &.horizontal {
      height: @card-xl-width;
      width: @card-xl-height;
    }}

  &.vertical {
    height: @card-height;
    width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }

  &.selectable {
    box-shadow: 0 0 10px 1px fadeout(lighten(@brand-primary, 60%), 10%);
  }

  &.unselectable {
    filter: grayscale(100%) brightness(60%);
  }

  &.in-danger {
    box-shadow: 0 0 1px 2px red;
  }

  &.saved {
    box-shadow: 0 0 1px 2px green;
  }

  &.selected {
    box-shadow: 0 0 1px 4px @brand-secondary;
  }

  &.new {
    box-shadow: 0 0 1px 2px @brand-info;
  }

  &.controlled {
    box-shadow: 0 0 1px 2px @brand-warning;
  }

  &.challenge {
    box-shadow: 0 0 1px 2px @brand-danger;
  }

  &.contributing {
    box-shadow: 0 0 1px 2px #d9904f;
  }

  &.stealth, &.assault {
    box-shadow: 0 0 1px 2px #c14e15;
  }
}

.card-image {
  left: 0;
  position: absolute;
  top: 0;
  pointer-events: none;

  &.small {
    &.vertical {
      height: @card-sm-height;
      width: @card-sm-width;
    }

    &.horizontal {
      height: @card-sm-width;
      width: @card-sm-height;
    }
  }

  &.large {
    &.vertical {
      height: @card-lg-height;
      width: @card-lg-width;
    }

    &.horizontal {
      height: @card-lg-width;
      width: @card-lg-height;
    }

    &.kneeled {
      left: 19px;
      top: -20px;
    }
  }

  &.x-large {
    &.vertical {
      height: @card-xl-height;
      width: @card-xl-width;
    }

    &.horizontal {
      height: @card-xl-width;
      width: @card-xl-height;
    }

    &.kneeled {
      left: 24px;
      top: -26px;
    }
  }

  &.vertical {
    height: @card-height;
    width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }

  &.kneeled {
    left: 11px;
    top: -14px;
    transform: rotate(90deg);
  }
}

.card-order {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 26px;
  left: 12px;
  line-height: 24px;
  margin: 0 0 0 -12px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 24px;
  z-index: @layer-card-menu;
}

.card-name {
  font-size: 10px;
  line-height: 14px;
}

.custom-card:hover .card-name {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: @layer-card-menu;
}

.card-large {
  right: 5px;
  top: 5px;
  position: absolute;
  z-index: @layer-top;
  pointer-events: none;

  &.vertical {
      width: @card-width * 4;
      height: @card-height * 4;
    }

    &.horizontal {
      width: @card-height * 4;
      height: @card-width * 4;
    }
}

.card-zoomed {
  width: 100%;
  height: 100%;
}

.image-large {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  z-index: @layer-top;
}

.attachment {
  margin-top: @attachment-offset - @card-height;

  &.small {
    margin-top: @attachment-offset - @card-sm-height;
  }

  &.large {
    margin-top: @attachment-offset-lg - @card-lg-height;
  }

  &.x-large {
    margin-top: @attachment-offset-xl - @card-xl-height;
  }
}

.generate-attachments(@n, @i: 1) when (@i =< @n) {
  .attachment-@{i} {
    z-index: @layer-cards - @i;
  }
  .generate-attachments(@n, (@i + 1));
}

.generate-attachments(10, 1);

.card-dupe {
  margin-bottom: @attachment-offset;
  margin-top: -(@attachment-offset + @card-height);

  &.small {
    margin-top: -(@attachment-offset + @card-sm-height);
  }

  &.large {
    margin-top: -(@attachment-offset-lg + @card-lg-height);
  }

  &.x-large {
    margin-top: -(@attachment-offset-xl + @card-xl-height);
  }
}

.generate-card-dupes(@n, @i: 1) when (@i =< @n) {
  .card-dupe-@{i} {
    z-index: @layer-cards - @i;
    top: -((@i - 1) * @attachment-offset);

    &.large {
      top: -((@i - 1) * @attachment-offset-lg);
    }

    &.x-large {
      top: -((@i - 1) * @attachment-offset-xl);
    }
  }
  .generate-card-dupes(@n, (@i + 1));
}
.generate-card-dupes(5, 1);

.card-type-faction.horizontal {
    margin: 10px 0 0 0;
}

.counters {
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: @layer-cards + 1;
}

.card.vertical .counters {
  flex-direction: column;

  &.many-counters {
    flex-direction: row;
  }
}

.card.horizontal .counters {
  flex-direction: row;

  &.many-counters {
    flex-direction: column;
  }
}

.counter {
  padding: 0;
  font-size: 12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px;
  text-shadow: 1px 1px 2px #000;
  border-radius: 4px;

  &.fade-out {
    opacity: 0.4;
  }

  &.cancel {
    position: relative;

    &:after {
      border-bottom: 0.17em solid @brand-danger;
      content: "";
      left: 0;
      margin-top: calc(0.17em / 2 * -1);
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
}

.challenge-icon-token {
  background-color: rgba(0, 0, 0, 0.85);
}

.faction-token {
  background-color: rgba(0, 0, 0, 0.85);
}

.dupe-token {
  background-color: @dupe-color;
}

.card-power-token {
  background-color: @power-color;
}

.strength-token {
  background-color: @strength-color;
}

.count-token {
  background-color: rgba(128,128,128,0.85);
}

.stand-token {
  background-color: rgba(128,128,128,0.85);
}

.poison-token {
  background-color: rgba(43,43, 0, 0.85);
}

.gold-token {
    background-color: rgba(255, 215, 0, 0.85);
}

.valarmorghulis-token {
  background-color: rgba(192, 192, 192, 0.85);
}

.betrayal-token {
  background-color: rgba(153, 77, 0, 0.85);
}

.vengeance-token {
  background-color: rgba(87, 17, 124, 0.85);
}

.ear-token {
  background-color: rgba(162, 255, 81, 0.85);
}

.kiss-token {
  background-color: rgba(127, 0, 255, 0.85);
}

.bell-token {
  background-color: rgba(103, 105, 45, 0.85);
}

.venom-token {
  background-color: @venom-color;
}

.blood-token {
    background-color: rgba(128, 0, 0, 0.85);
}

.shadow-token {
    background-color: rgba(128, 0, 128, 0.85);
}

.journey-token {
  background-color: rgba(139,69,19, 0.85);
}

.prayer-token {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  text-shadow: 1px 1px 2px #888;
}

.tale-token {
  background-color: rgba(146, 146, 146, 0.85);
  color: black;
  text-shadow: 1px 1px 2px #888;
}

.ghost-token {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  text-shadow: 1px 1px 2px #888;
}

.plot-selected {
  box-shadow: 0 0 1px 2px @brand-danger;
}

.card-small {
  max-width: 30px;
}

.drag-preview {
  pointer-events: none;
  position: fixed;

  opacity: 0.5;
  z-index: @layer-top;
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: @layer-top;
  opacity: 0.5;

  pointer-events: none;

  &.drop-ok {
    background-color: @brand-success
  }

  &.can-drop {
    background-color: @brand-warning
  }

  &.no-drop {
    background-color: @brand-danger
  }
}

.drop-target {
  display: inline-block;
  position: relative;
}

.hover-card {
  position: fixed;
  top: 60px;
  left: 10px;
  z-index: @layer-top;
  min-width: @card-width * 4;
  min-height: @card-height * 4;

  &.horizontal {
    min-height: @card-width * 4;
    min-width: @card-height * 4;
  }
}

.card-cost {
  background: url('/img/Gold.png') no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-icon {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-size: cover;
  color: white;
  font-family: 'thronesdb';
}

.plot-income {
  background-image: url('/img/Gold.png');
  background-repeat: no-repeat;
}

.plot-initiative {
  background-image: url('/img/Initiative.png');
  background-repeat: no-repeat;
}

.plot-claim {
  background-image: url('/img/Claim.png');
  background-repeat: no-repeat;
}

.plot-stats {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 35px;
  font-size: 1.8em;
  margin-left: 10px;
}

.plot-reserve {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: darkred;
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: center;
  line-height: 40px;
  font-size: 1.5em;
}

.card-cost-number {
  font-size: 2em;
}

.card-alt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: black;
  opacity: 0.8;
  z-index: @layer-bottom;
}

.card-top-row {
  display: flex;
}

.card-text {
  font-size: 0.8em;
  font-family: 'thronesdb';
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;

  .text-inner {
    min-height: 80px;
  }

  .card-name {
    line-height: initial;
  }
}

.card-type {
  line-height: initial;
}

.card-icons {
  margin-left: 5px;
  margin-top: 15px;

  &.attachment {
    min-height: 170px;
  }

  &.plot {
    min-height: 90px;
  }
}

.challenge-icon {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  font-size: 1.8em;
  line-height: 35px;
  color: white;
  margin-top: 10px;
}

.card-name-row {
  display: flex;

  &.vertical {
    width: 50px;
    height: 185px;
    flex-direction: column;
    margin-bottom: 10px;

    .card-name {
      text-orientation: sideways;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
  }
}

.card-strength {
  background: url('/img/shield.png') no-repeat;
  background-size: cover;
  width: 30px;
  height: 35px;
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
  line-height: 35px;
  font-size: 1.8em;
}

.card-name {
  font-size: 0.8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  line-height: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-unique {
  font-family: thronesdb;

  &:before {
    content: "\e60b";
  }
}

.card-faction {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  font-size: 2.6em;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  margin-top: 10px;

  // Reduce the font size slightly for specific factions so that the larger icon
  // glyphs will fit
  &.thronesicon-greyjoy,
  &.thronesicon-lannister,
  &.thronesicon-targaryen,
  &.thronesicon-thenightswatch {
    font-size: 2em;
  }
}

.card-traits {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: white;

  margin-top: -15px;
  min-height: 20px;
}

.hover-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: @layer-top;
}

.underneath {
  margin-left: 0;
  margin-top: -@card-height / 2;
  position: relative;
  z-index: @layer-cards + 1;

  &.small {
    margin-top: -@card-sm-height / 2;
  }

  &.large {
    margin-top: -@card-lg-height / 2;
  }

  &.x-large {
    margin-top: -@card-xl-height / 2;
  }
}
