@import "~bootstrap/less/bootstrap";
@import "variables";
@import "icons";
@import "common";
@import "deckbuilder";
@import "gamelist";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding-top: 75px;
  background-color: @background-color;
  color: @foreground-color
}

#container {
  margin: 0 auto;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.navbar-right {
  margin-right: 0px;
}

.player-row {
  margin-top: 15px;
}

.game-board {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 55px;
  display: flex;
  justify-content: space-between;
}

.main-window {
  display: flex;
  flex-direction: column;
}

.player-home-row {
  display: flex;
  height: 100px;
}

.hand {
  width: 342px;
  padding: 0px;
}

.hand, .discard, .draw, .faction, .agenda {
  height: @card-height;
}

.dead, .plot {
  height: @card-width;
}

.middle {
  display: flex;
  flex: 1;
}

.left-side {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.state {
  height: 22px;
}

.discard, .draw, .faction, .agenda {
  position: relative;
  width: @card-width;
  padding: 0px;
}

.dead, .plot {
  position: relative;
  width: @card-height;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;

  .popup {
    position: absolute;
    width: 200px;
    min-height: 92px;
    bottom: 34px;
    left: 119px;
  }
}

.right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 307px;
}

.inset-pane {
  display: flex;
  flex-direction: column;
  width: 210px;
  justify-content: space-between;
}

.inset-pane > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-pane button {
  width: 100%;
  margin-bottom: 5px;
}

h4 {
  font-size: 14px;
}

.play-area, .player-board {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.player-board.our-side {
  margin: 10px;
}

.our-side > div:first-child {
  margin-top: auto;
}

.plots-pane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.discard {
  .popup.our-side {
    left: -6px;
    position: absolute;
    top: initial;
    bottom: 85px;
    width: 505px;
    min-height: 92px;
  }

  .popup {
    position: absolute;
    left: -6px;
    top: 85px;
    bottom: initial;
    width: 505px;
    min-height: 92px;
  }
}

.dead {
  .popup.our-side {
    left: -154px;
    position: absolute;
    top: initial;
    bottom: 85px;
    width: 368px;
    min-height: 92px;
  }

  .popup {
    position: absolute;
    left: -154px;
    top: 85px;
    bottom: initial;
    width: 368px;
    min-height: 92px;
  }

  .card {
    margin: 2px;
  }
}

.messages {
  flex: 1;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 42px;
  left: 0;
  right: 4px;
  margin: 0;
}

.card-row .card.horizontal {
    margin-bottom: @card-height - @card-width;
}

.plot-group {
  >.plot {
    margin-bottom: 5px;
  }
}

.card-row, .hand {
  display: flex;
  justify-content: flex-start;
}

.card-wrapper {
  margin: 0px 4px 0px 0px;
  vertical-align: middle;
}

.card-frame {
  position: relative;
}

.card {
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0,0,0,0.4), inset 0 0 0 1px rgba(255,255,255,0.1);
  overflow: hidden;
  z-index: @layer-cards;

  &.vertical {
    height: @card-height;
    width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }
}

.card.selected {
  box-shadow: 0 0 1px 4px @brand-primary;
}

.card.new {
  box-shadow: 0 0 1px 2px @brand-info;
}

.card.controlled {
  box-shadow: 0 0 1px 2px #d0d834;
}

.card-image {
  left: 0;
  position: absolute;
  top: 0;

  &.vertical {
    height: @card-height;
    width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }

  &.kneeled {
    left: 9px;
    top: -10px;
    transform: rotate(90deg);
  }
}

.card-name {
  font-size: 10px;
  line-height: 14px;
}

.squish .card-wrapper {
  position: absolute;
}

.card-large {
  width: 220px;
  height: 307px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;
}

.card-large-horizontal {
  width: 307px;
  height: 220px;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
}

.card-zoomed {
  width: 100%;
  height: 100%;
}

.card-zoomed > img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.select-cursor {
  cursor: url(/img/crosshairs.cur), default;
}

.attachment {
  margin-top: @attachment-offset - @card-height;
}

.generate-attachments(@n, @i: 1) when (@i =< @n) {
  .attachment-@{i} {
    z-index: @layer-cards - @i;
  }
  .generate-attachments(@n, (@i + 1));
}

.generate-attachments(5, 1);

.card-dupe {
  margin-bottom: @attachment-offset;
  margin-top: -(@attachment-offset + @card-height);
}

.generate-card-dupes(@n, @i: 1) when (@i =< @n) {
  .card-dupe-@{i} {
    z-index: @layer-cards - @i;
  }
  .generate-card-dupes(@n, (@i + 1));
}
.generate-card-dupes(5, 1);

.player-board {
  .card-wrapper {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.counters {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: @layer-cards + 1;
}

.counter {
  padding: 0;
  font-size: 12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px;
}

.dupe {
  background-color: rgba(0,128,0,0.85);
  text-shadow: 1px 1px 2px #000;
  border-radius: 4px;
  color: white;
}

.power {
  background-color: rgba(0,0,128,0.85);
  text-shadow: 1px 1px 2px #000;
  border-radius: 4px;
  color: white;
}

.strength {
  background-color: rgba(128,0,0,0.85);
  text-shadow: 1px 1px 2px #000;
  border-radius: 4px;
  color: white;
}

.stand {
  background-color: rgba(128,128,128,0.85);
  text-shadow: 1px 1px 2px #000;
  border-radius: 4px;
  color: white;
}

.poison {
  background-color: rgba(43,43, 0, 0.85);
  text-shadow: 1px 1px 2px #000;
  border-radius: 4px;
  color: white;
}

.draw {
  .popup {
    left: -271px;
    position: absolute;
    bottom: 85px;
    width: 590px;
    min-height: 92px;

    .card {
      margin: 2px;
    }
  }

  .inner {
    height: 450px;
    overflow-y: scroll;
  }
}

.messages {
  font-size: 12px;
  overflow-y: auto;
}

.message {
  margin-bottom: 4px;
}

.menu-pane {
  text-align: center;
  z-index: @layer-prompt;
}

.faction.kneeled {
  transform: translateY(18%);
}

.btn-stat {
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-color: white;
  color: white;
}

.btn-stat:hover {
  background-color: rgba(0,128,0,0.35);
  border-color: @brand-primary;
  color: white;
}

.btn-stat:focus {
  outline: 0px;
  color: white;
}

.lobby-messages {
  height: 400px;
  font-size: 12px;
  overflow-y: auto;
}

.message {
  margin-top: 2px;
}

.chat {
  width: 307px;
  position: absolute;
  top: 317px;
  bottom: 0;
}

.chat > form {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 4px;
}

.chat > form input {
  width: 100%;
}

.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

.navbar-toggle {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
}

.navbar-nav > li > span {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}

@media (min-width: 768px) {
  .navbar-nav > li > span {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.players {
  height: 100px;
  clear: both;
}

.spectators {
  height: 55px;
  clear: both;
}

.message-list {
  height: 200px;
  width: 100%;
  border: 1px solid @brand-primary;
  border-radius: 4px;
  margin-bottom: 5px;
  overflow: auto;
  padding: 5px 10px;
}

.user-list {
  >div {
    margin-bottom: 5px;
  }

  height: 400px;
  margin-left: 0px;
  margin-right: 0px;
  overflow-y: scroll;
}

.chat-box {
  margin-left: 5px;
}

.plot-selected {
  box-shadow: 0 0 1px 2px @brand-danger;
}
