bower_components
node_modules
public/img/cards
public/img/avatar
public/img/bgs
typings
coverage
*.log
*.json
nodeconfig.js
server/events.txt
server/logs/*.gz
features/conf/*
testoutput/*
dist/*
local.json5
client/assets/img/cards
client/out