version: "3.3"
# Contains the necessary services to run throneteki in all environments
services:
  mongo:
    image: mongo
    volumes:
      - mongodb:/data/db
  redis:
    image: redis
volumes:
  mongodb:
  node_modules:
