@import 'bootstrap/less/bootstrap.less';
@import 'variables';
@import 'icons';
@import 'application';
@import 'common';
@import 'chat';
@import 'deckbuilder';
@import 'gamelist';
@import 'gameboard';
@import 'cards';

@icon-font-path: '/fonts/';

@font-face {
    font-family: agot;
    src: url('/fonts/agot.ttf');
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: @background-color;
    color: @foreground-color;
}

.body,
.container,
#component {
    height: 100%;
}

.full-height {
    height: 100%;
}

h1 {
    font-size: 24px;
    color: white;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

.bg {
    padding-top: @navbar-height + 10px;
    background-image: url('/img/background2.png');

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-board {
    padding-top: 75px;
    background-image: url('/img/background.png');

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-board2 {
    padding-top: 75px;
    background-image: url('/img/background3.png');

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-sm {
    min-height: @navbar-height;
    height: @navbar-height;
}

.navbar-sm .navbar-brand {
    padding: 4px 12px;
    font-size: 18px;
}

.navbar-sm .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: @navbar-height;
}

.navbar-sm .navbar-nav > li > span {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: @navbar-height;
}

.small-navbar-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.small-navbar-spacer {
    flex-basis: 0;
    flex-grow: 1;
}

.small-navbar-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;
}

.collapse-menu {
    flex-grow: 1;
    flex-basis: 100%;
    background-color: @navbar-inverse-bg;
}

@media (min-width: @screen-md-min) {
    #navbar {
        display: flex !important;
    }
}

.left-menu {
    //flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .navbar-nav {
        flex-direction: row;
    }
}

.navbar-right {
    flex-basis: 0;
    justify-content: flex-end;
    flex-grow: 1;
    display: flex;
    white-space: nowrap;
}

.dropdown-toggle {
    white-space: nowrap;
}

a {
    color: @brand-primary;

    &:hover {
        color: @brand-info;
        text-decoration: none;
    }

    text-decoration: none;
}

.rbt-input {
    & > div {
        width: 100%;

        & > div {
            width: 100%;

            & > div {
                width: 100%;

                & > input {
                    width: 100% !important;
                }
            }
        }
    }
}

.btn-transparent {
    background-color: transparent;
}

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow-y: auto;
}

.content {
    padding-top: 45px;
}

.navbar {
    .container {
        padding-right: 0;
    }
}

.navbar-nav {
    li {
        .glyphicon {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.pages-enter {
    opacity: 0;
}

.pages-enter.pages-enter-active {
    opacity: 1;
    transition: opacity 600ms ease-in-out;
}

.pages-leave {
    opacity: 0;
}

.pages-leave.pages-leave-active {
    opacity: 1;
    transition: opacity 600ms ease-in-out;
}

.rrt-message {
    background: @background-color !important;
}

.rrt-confirm {
    background: @brand-primary !important;
}

.no-padding {
    padding: 0;
}

.bold {
    font-weight: bold;
    color: white;
}

.slider.slider-horizontal {
    width: 100%;
}

.text-left {
    text-align: left !important;
}

.panel-tertiary {
    > .panel-heading {
        background-color: @brand-tertiary;
    }

    border-color: @brand-tertiary;
}

.alert {
    &.multiline {
        display: flex;
        align-items: center;
    }
}

// The logic behind this is if there's a bug, it should stand out
.undefined {
    background-color: pink;
}

.profile-inner {
    padding-top: 15px;
}

.banner {
    padding-top: 10px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.img-framework-timing-sheet {
    width: 100%;
}
