@brand-primary: #41658A;
@background-color: #0E0B10;
@foreground-color: #C1C2C3;
@brand-secondary: #79B473;
@brand-tertiary: #414073;

@navbar-inverse-bg: rgba(34, 34, 34, 0.75);

@header-background: fade(@brand-tertiary, 90%);
@header-border: rgba(71, 58, 56, 0.95);

@table-bg-accent: fade(@brand-primary, 45%);

@power-icon-color: #2A2E5E;
@military-icon-color: #C72229;
@intrigue-icon-color: #05552F;

@dupe-color: rgba(0,128,0,0.85);
@power-color: rgba(0,0,128,0.85);
@strength-color: rgba(128,0,0,0.85);
@venom-color: rgba(29, 145, 163, 0.85);

@card-width: 65px;
@card-height: 91px;

@card-lg-width: @card-width * 1.4;
@card-lg-height: @card-height * 1.4;

@card-xl-width: @card-width * 2;
@card-xl-height: @card-height * 2;

@card-sm-width: @card-width * 0.8;
@card-sm-height: @card-height * 0.8;

@attachment-offset: 10px;
@attachment-offset-lg: @attachment-offset * 1.4;
@attachment-offset-xl: @attachment-offset * 2;

@btn-default-bg: @brand-primary;
@btn-default-border: darken(@btn-default-bg, 5%);
@btn-default-color: white;

// Z-index layers
@layer-bottom: 1;
@layer-cards: 10;
@layer-pile-header: 20;
@layer-card-collection: 100;
@layer-prompt: 110;
@layer-card-menu: 120;
@layer-top: 9999;

@scrollbar-width: 20px;

@navbar-height: 40px;

@martell-foreground: #A20000;
@martell-background: #EEAB46;

@tyrell-foreground: #F0D210;
@tyrell-background: #054B3C;

@thenightswatch-foreground: #212022;
@thenightswatch-background: #B6B4B5;

@lannister-foreground: #F1B62C;
@lannister-background: #8B2733;

@stark-foreground: #444646;
@stark-background: white;

@baratheon-foreground: #190919;
@baratheon-background: #FDFF14;

@greyjoy-foreground: #EEE59C;
@greyjoy-background: #0F053C;

@targaryen-foreground: #8E323B;
@targaryen-background: #00170C;