@import '../../mixins';

.drop-target {
    .discard,
    .dead,
    .plots,
    .plot-deck,
    .usedPlots,
    .used-plots,
    .revealed-plots {
        //    .panel {
        z-index: 30;
        @include calculate-tiled-card-prop(width, 4, height, var(--scrollbar-width) + 10px);
        @include calculate-tiled-card-prop(height, 2, width, 0px);

        .inner {
            @include calculate-tiled-card-prop(width, 4, height, var(--scrollbar-width));
            padding: 4px;
        }
    }
    //}
}
.draw {
    .panel {
        z-index: 30;
        @include calculate-tiled-card-prop(width, 7, width, var(--scrollbar-width) + 10px);
        @include calculate-tiled-card-prop(height, 3, height);

        .inner {
            @include calculate-tiled-card-prop(width, 7, width, var(--scrollbar-width));
        }
    }
}

.hand {
    .panel {
        z-index: 20;
        @include calculate-tiled-card-prop(width, 6, width, var(--scrollbar-width) + 10px);
        @include calculate-tiled-card-prop(height, 1, height);

        .inner {
            @include calculate-tiled-card-prop(width, 6, width, var(--scrollbar-width));
        }
    }
}

.agenda {
    .panel {
        @include calculate-tiled-card-prop(width, 2, width, var(--scrollbar-width) + 10);

        .inner {
            @include calculate-tiled-card-prop(width, 2, width, var(--scrollbar-width));
            @include calculate-tiled-card-prop(height, 1, height);
        }
    }
}

.additional-cards {
    .panel {
        .inner {
            @include calculate-tiled-card-prop(min-width, 2, height, var(--scrollbar-width));
        }
    }
}

// .inner {
//     @include calculate-tiled-card-prop(max-height, 4, height);
//     @include calculate-tiled-card-prop(height, 3, height, -5px);
//     overflow-y: auto;

//     &.hand {
//         @include calculate-tiled-card-prop(height, 1, height);
//     }
// }
