apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: game-node-redirect-http
  namespace: {{ .Values.namespace }}
spec:
  entryPoints:
    - web
  routes:
  {{- if eq $.Values.environment "production" }}
    - match: HostRegexp(`{subdomain:(www\\.)?}throneteki.net`) || HostRegexp(`{subdomain:(www\\.)?}theironthrone.net`)
  {{- else }}
    - match: HostRegexp(`{subdomain:(www\\.)?}{{ $.Values.environment }}.throneteki.net`) || HostRegexp(`{subdomain:(www\\.)?}{{ $.Values.environment }}.theironthrone.net`)
  {{- end }}
      kind: Rule
      priority: 100
      middlewares:
        - name: {{ $.Values.redirectMiddleware.names.canonicalHost }}
      services:
        - name: noop@internal
          kind: TraefikService
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: game-node-redirect-www
  namespace: {{ .Values.namespace }}
spec:
  entryPoints:
    - websecure
  routes:
  {{- if eq $.Values.environment "production" }}
    - match: HostRegexp(`{subdomain:(www\\.)}throneteki.net`) || HostRegexp(`{subdomain:(www\\.)}theironthrone.net`)
  {{- else }}
    - match: HostRegexp(`{subdomain:(www\\.)}{{ $.Values.environment }}.throneteki.net`) || HostRegexp(`{subdomain:(www\\.)}{{ $.Values.environment }}.theironthrone.net`)
  {{- end }}
      kind: Rule
      priority: 100
      middlewares:
        - name: {{ $.Values.redirectMiddleware.names.canonicalHost }}
      services:
        - name: noop@internal
          kind: TraefikService
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: game-node
  namespace: {{ .Values.namespace }}
spec:
  entryPoints:
    - web
    - websecure
  routes:
  {{- range $i, $e := until 10 }}
  {{- if eq $.Values.environment "production" }}
    - match: (HostRegexp(`{subdomain:(www\\.)?}throneteki.net`) || HostRegexp(`{subdomain:(www\\.)?}theironthrone.net`)) && PathPrefix(`/node-{{$i}}/socket.io`)
  {{- else }}
    - match: (HostRegexp(`{subdomain:(www\\.)?}{{ $.Values.environment }}.throneteki.net`) || HostRegexp(`{subdomain:(www\\.)?}{{ $.Values.environment }}.theironthrone.net`)) && PathPrefix(`/node-{{$i}}/socket.io`)
  {{- end }}
      kind: Rule
      middlewares:
        - name: {{ $.Values.redirectMiddleware.names.canonicalHost }}
      services:
        - name: node-{{$i}}
          port: 80
  {{- end }}
---
{{- if .Values.redirectMiddleware.create }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Values.redirectMiddleware.names.canonicalHost }}
  namespace: {{ .Values.namespace }}
spec:
  redirectRegex:
    regex: ^http://(www\\.)?(.*)|^https://www\\.(.*)
    replacement: https://$2$3
    permanent: true
{{- end }}
