apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: game-node-redirect-http
  namespace: {{ .Values.namespace }}
spec:
  entryPoints:
    - web
  routes:
  {{- if eq $.Values.environment "production" }}
    - match: Host(`throneteki.net`,`theironthrone.net`)
  {{- else }}
    - match: Host(`{{ $.Values.environment }}.throneteki.net`,`{{ $.Values.environment }}.theironthrone.net`)
  {{- end }}
      kind: Rule
      priority: 100
      middlewares:
        - name: {{ $.Values.redirectMiddleware.names.https }}
      services:
        - name: noop@internal
          kind: TraefikService
  {{- if eq $.Values.environment "production" }}
    - match: Host(`www.throneteki.net`,`www.theironthrone.net`)
  {{- else }}
    - match: Host(`www.{{ $.Values.environment }}.throneteki.net`,`www.{{ $.Values.environment }}.theironthrone.net`)
  {{- end }}
      kind: Rule
      priority: 110
      middlewares:
        - name: {{ $.Values.redirectMiddleware.names.canonicalHost }}
      services:
        - name: noop@internal
          kind: TraefikService
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: game-node-redirect-www
  namespace: {{ .Values.namespace }}
spec:
  entryPoints:
    - websecure
  routes:
  {{- if eq $.Values.environment "production" }}
    - match: HostRegexp(`{host:www\.throneteki\.net}`) || HostRegexp(`{host:www\.theironthrone\.net}`)
  {{- else }}
    - match: HostRegexp(`{host:www\.{{ $.Values.environment }}\.throneteki\.net}`) || HostRegexp(`{host:www\.{{ $.Values.environment }}\.theironthrone\.net}`)
  {{- end }}
      kind: Rule
      priority: 100
      middlewares:
        - name: {{ $.Values.redirectMiddleware.names.canonicalHost }}
      services:
        - name: noop@internal
          kind: TraefikService
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: game-node
  namespace: {{ .Values.namespace }}
spec:
  entryPoints:
    - web
    - websecure
  routes:
  {{- range $i, $e := until 10 }}
  {{- if eq $.Values.environment "production" }}
    - match: Host(`throneteki.net`,`www.throneteki.net`,`theironthrone.net`,`www.theironthrone.net`) && PathPrefix(`/node-{{$i}}/socket.io`)
  {{- else }}
    - match: Host(`{{ $.Values.environment }}.throneteki.net`,`www.{{ $.Values.environment }}.throneteki.net`,`{{ $.Values.environment }}.theironthrone.net`,`www.{{ $.Values.environment }}.theironthrone.net`) && PathPrefix(`/node-{{$i}}/socket.io`)
  {{- end }}
      kind: Rule
      services:
        - name: node-{{$i}}
          port: 80
  {{- end }}
---
{{- if .Values.redirectMiddleware.create }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Values.redirectMiddleware.names.https }}
  namespace: {{ .Values.namespace }}
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Values.redirectMiddleware.names.canonicalHost }}
  namespace: {{ .Values.namespace }}
spec:
  redirectRegex:
    regex: ^https?://www\.(.*)
    replacement: https://$1
    permanent: true
{{- end }}
