name: Close issues related to a merged pull request based on any development branches

on:
  pull_request:
    types: [closed]
    branches:
      - development-*

jobs:
  closeIssueOnPrMergeTrigger:
    runs-on: ubuntu-latest
    steps:
      - name: Closes issues related to a merged pull request.
        uses: ldez/gha-mjolnir@v1.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
